.flags{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flags__item{
    width: 60px;
    margin: 5px;
}
.flags__img{
    cursor: pointer;
    display: block;
}